<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5">
            <h3> Item Size</h3>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-3">
            <button class="btn btn-success float-right" (click)="addItemSizeRecord()">
              Add
            </button>

          </div>
        </div>
        <h6 class="card-subtitle"></h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="topbar">
              <tr>
                <!-- <th>ID</th>-->
               
                <th>Item Category</th>
                <th>Size/Length</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <!-- <tr *ngFor="let kar of Location | search: searchText | paginate: { itemsPerPage:top, totalItems:MainCount, currentPage: p }" [ngClass]="{'btn-primary': cust.ID == currentId }"> -->
              <tr *ngFor="let List of ItemSizeList">
                <!-- <td>{{currency.ID}}</td>-->
               
                <td>{{List.CategoryName}}</td>
                <td>{{List.ItemName}}</td>
                <td>{{List.ObjectStatus}}</td>
                <td>
                    <i class="mr-4" style="color:orange" title="Edit">Edit</i>
                  <i class="mr-4" style="color:rgb(105, 56, 184)" title="Open">Open </i>
                  <i style="color:red" title="Close">Close</i>
                  <!-- <i class="far fa-pencil-alt pointer mr-4" style="color:orange" title="Edit"></i> -->
                    <!-- <i class="fas fa-window-close pointer" style="color:red" title="Close"></i> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

