<form [formGroup]="CancelPickUpRegisterForm">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group CustomWidth">
                <label for="TokenNo">Token No</label>
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="tokenNo" />
                </div>
            </div>
            <div class="form-group CustomWidth">
                <label for="Remarks">Remarks</label>
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="remarks" />
                </div>
            </div>
            <div class="form-group CustomWidth">
                <label for="RegDate">Reg.Date</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="applicationDate"
                        formControlName="registrationDate" value="{{applicationDate | date:'dd/MM/yyyy' }}" bsDatepicker
                        [bsConfig]="datePickerConfig">
                </div>
            </div>
            <div class="form-group">
                <button class="printMe btn btn-success waves-effect waves-light btn-rounded btn-secondary"
                    (click)="CancelPickUpRegister(CancelPickUpRegisterForm)"><i class="far fa-window-close"></i>
                    Cancel </button>
                <button class="btn btn-danger waves-effect waves-light btn-rounded btn-secondary" type="button"
                    (click)="clearcancelpickup()"><i class="far fa fa-trash"></i>&nbsp;Clear</button>
            </div>
        </div>
    </div>
</form>