<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Magna Web API!</h1>
                <h2>This project allows to access Magna Web API</h2>
            </hgroup>
            <p>
                Magna Web API exposes the applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                Web API of Magna can be accessed using the URLs.
            </p>
        </div>
    </section>   
</div>
