<div class="row" style="display:block;margin: auto;width: 30%;">
    <form [formGroup]="ReprintForm" class="form-horizontal">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OrderNo">Date</label>&nbsp;
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <input type="text" class="form-control" bsDatepicker
                                            [bsConfig]="datePickerConfig" [(ngModel)]="applicationDate"
                                            formControlName="applicationDate" readonly
                                            (ngModelChange)="byDate(applicationDate)"
                                            value="{{applicationDate | date:'dd/MM/yyyy' }}" />
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="Type">Type</label>&nbsp;
                                <div class="input-group">
                                    <!-- <select class="form-control mr-auto mt-2 mt-lg-0" (change)="getIssueType()"
                                        formControlName="Type" [(ngModel)]="reprintHeaders.Type">
                                        <option [ngValue]="null">Select</option>
                                        <option *ngFor="let _IRListData of IRListData" [value]="_IRListData.IRCode">
                                            {{_IRListData.IRName}}
                                        </option>
                                    </select> -->
                                    <select class="form-control mr-auto mt-2 mt-lg-0" formControlName="Type">
                                        <option [ngValue]="null">Select</option>
                                        <option *ngFor="let _type of type" [value]="_type.Code">
                                            {{_type.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Type">Issue No</label>&nbsp;
                                <div class="input-group">
                                    <input type="text" class="form-control" style="width: 300px;"
                                        formControlName="IssueNo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <button
                                    class="printMe btn btn-success waves-effect waves-light btn-rounded btn-secondary"
                                    (click)="reprint(ReprintForm)"><i class="fal fa-print"></i>
                                    Print </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row" style="display:block;margin: auto;width: 30%;">
    <div class="modal fade" id="PrintDataTab" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="max-width: 1400px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                        class="btn btn-outline-success waves-effect waves-light btn-rounded btn-outline-secondary"
                        id="exampleModalLabel" (click)=print()><i class="fal fa-print"></i> Print</button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="DisplayData" class="center" [innerHTML]='PrintData | safeHtml'>

                </div>
            </div>
        </div>
    </div>