<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="HSNForm" class="form-horizontal">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label"> GST Group Code </label>
                <select class="form-control" formControlName="frmCtrl_GSTGroupCode"
                  [(ngModel)]="HSNgroupModel.GSTGroupCode">
                  <option [ngValue]="null">Select</option>
                  <option *ngFor="let _types of GSTList" [value]="_types.Code">
                    {{_types.Code}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label class="control-label"> Type </label>
                <select class="form-control" formControlName="frmCtrl_HSNtype" [(ngModel)]="HSNgroupModel.Type">
                  <option [ngValue]="null">Select</option>
                  <option *ngFor="let _types of HSNTYpe" [value]="_types.name">
                    {{_types.code}}-{{_types.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label"> HSN / SAC Code </label>
                <input type="text" class="form-control" [(ngModel)]="HSNgroupModel.Code"
                  formControlName="frmCtrl_HSN_SAC_Code" maxlength="30" placeholder="Enter HSN / SAC Code">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label"> Description </label>
                <input type="text" class="form-control" [(ngModel)]="HSNgroupModel.Description"
                  formControlName="frmCtrl_Description" maxlength="30" placeholder="Enter Description">
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label class="control-label"> IsActive</label>
                <div class="form-group" style="width: 20px;height: 20px;">
                  <input type="checkbox" class="chkbxsize" class="form-control" [checked]="HSNgroupModel.IsActive==true"
                    [(ngModel)]="HSNgroupModel.IsActive" formControlName="frmCtrl_IsActive"
                    (change)="IsEnable($event)" />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <ng-container *ngIf="EnableAdd">
                  <button class="btn btn-success waves-effect waves-light btn-rounded btn-secondary MT-2"
                    style="margin-top: 1.2rem !important;" (click)="postHSNListData(HSNForm)">
                    <i class="far fa-plus-circle"></i>&nbsp;Add</button>
                </ng-container>
                <ng-container *ngIf="EnableSave">
                  <button class="btn btn-success waves-effect waves-light btn-rounded btn-secondary MT-2"
                    style="margin-top: 1.2rem !important;" (click)="save(HSNForm)">
                    <i class="fal fa-save"></i>&nbsp;Save</button>
                </ng-container>
                <button class="btn  btn-warning waves-effect waves-light btn-rounded btn-secondary MT-2"
                  style="margin-top: 1.2rem !important;" (click)="clear()">
                  <i class="fal fa-trash"></i>&nbsp;Clear</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered  table-hover ">
            <thead class="topbar">
              <tr>
                <th>GST Group Code</th>
                <th>Type</th>
                <th>HSN/SAC Code</th>
                <th>Description</th>
                <th>IsActive</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let  _hsn of HSNMasterList">
                <td>{{_hsn.GSTGroupCode}}</td>
                <td>{{_hsn.Type}}</td>
                <td>{{_hsn.Code}}</td>
                <td>{{_hsn.Description}}</td>
                <td><input type="checkbox" [checked]="_hsn.IsActive==true" style="width: 20px;height: 20px;" /></td>
                <td align="center">
                  <i class="fas fa-edit" title="edit" (click)="editField(_hsn)"></i>
                </td>
                <td align="center">
                  <i class="fas fa-trash" title="edit" (click)="deletField(_hsn)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="EnableJson">
    <pre>{{HSNgroupModel | json}}</pre>
  </ng-container>
</div>