<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>    
    <!--<add name="MagnaDbEntities" connectionString="metadata=res://*/MagnaDb.MagnaEdbModel.csdl|res://*/MagnaDb.MagnaEdbModel.ssdl|res://*/MagnaDb.MagnaEdbModel.msl;provider=System.Data.OracleClient;provider connection string=&quot;data source=192.168.8.254;initial catalog=MagnaDKNGST;persist security info=True;user id=magnaapp;password=magna2012;pooling=True;multipleactiveresultsets=True;connect timeout=60;application name=Prodigy1.0&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MagnaDbEntities" connectionString="metadata=res://*/MagnaDb.MagnaEdbModel.csdl|res://*/MagnaDb.MagnaEdbModel.ssdl|res://*/MagnaDb.MagnaEdbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MMM5DPT;initial catalog=MagnaKRMStage20220117;persist security info=True;user id=tj;password=12345;pooling=True;multipleactiveresultsets=True;connect timeout=60;application name=Prodigy3.0&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>