<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="DefaultConnection_ConnectionString" providerName="System.Data.SqlClient" />
    <add name="MagnaWeb.Models.ApplicationDbContext" connectionString="MagnaWeb.Models.ApplicationDbContext_ConnectionString" providerName="System.Data.SqlClient" />
    <add name="WebMagnaDBEntities" connectionString="metadata=res://*/Models.EntityModels.MagnaWebDatamodel.csdl|res://*/Models.EntityModels.MagnaWebDatamodel.ssdl|res://*/Models.EntityModels.MagnaWebDatamodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SISERVER\SQL2008R2;initial catalog=WebMagna;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPTestEntities" connectionString="metadata=res://*/Models.TestModel.ERPDataModel.csdl|res://*/Models.TestModel.ERPDataModel.ssdl|res://*/Models.TestModel.ERPDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SISERVER\SQL2008R2;initial catalog=EmployeeTest;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework1&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="APIUrl" value="http://localhost/api" />
    <add key="Path" value="Server=192.168.10.203\SQL2008R2; Database=WebMagna; User ID=sa; Password=123; Trusted_Connection=False; Connection Timeout=60; Pooling=true; Max Pool Size=200; Application Name=Vrudhi-Customer Portal" />
    <add key="IsSMSRequired" value="false" />
    <add key="SMSHTTPUrl" value="http://alerts.3mdigital.co.in/api/web2sms.php?workingkey=A59eda561ac9813beac4195b9dbaa86e3&amp;sender=SRNINF&amp;to={0}&amp;message={1}" />
    <add key="OTPLength" value="6" />
    <add key="OTPValidMinutes" value="10" />
    <add key="EnableAPITracingToDb" value="true" />
    <add key="EnableAPITracingToOutput" value="true" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>